.hero {
  margin-top: 50px;
  padding-bottom: 100px;
  position: relative;
}

.hero .backbutton {
  display: inline-flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 0.3s;
  position: absolute;
  top: -50px;
  left: 0;
}

.hero .backbutton:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.hero .backbutton a {
  display: flex;
  padding: 15px;
  text-decoration: none;
}

.hero .backbutton a svg {
  color: #FFF;
  font-size: 21px;
}

.hero__img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  border: 10px solid rgb(135, 135, 135);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.35);
  transition: all 0.3s;
  animation: 2s fadeToTop;
}

.hero__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  transform: scale(1.05);
}

.hero__img:hover img {
  transform: scale(1);
}
.hero__img:hover {
  box-shadow:none;
}

.hero__name {
  margin-top: 25px;
}
.hero__name h1 {
  text-align: center;
  color: #CCC;
  animation: 2s flashLetter;
}

.hero__details {
  display: flex;
  justify-content: center;
}

.hero__details--date h6 {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.hero__details--house {
  padding: 0;
}

.hero__details--house--marvel {
  background-color: rgb(190, 0, 0);
  padding: 10px 25px;
  border-radius: 5px;
  color: #FFF;
  margin-right: 10px;
}

.hero__details--house--dc {
  background-color: rgb(0, 104, 190);
  padding: 10px 25px;
  border-radius: 5px;
  color: #FFF;
  margin-right: 10px;
}

.hero__bio {
  max-width: 600px;
  margin: auto;
  margin-top: 25px;
}

.hero__bio p {
  color: #CCC;
}

.hero__recomendations {
  max-width: 600px;
  margin: auto;
}

.hero__recomendations--title h3 {
  color: #CCC;
}

.hero__recomendations--container {
  padding-bottom: 15px;
  display: flex;
  overflow: auto;
}

.hero__recomendations--container .recomendation {
  width: 250px;
  height: 150px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 15px;
  margin-right: 15px;
  cursor: pointer;
}

.hero__recomendations--container .recomendation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SCROLL BAR */

.hero__recomendations--container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.hero__recomendations--container::-webkit-scrollbar:vertical {
  width:5px;
}

.hero__recomendations--container::-webkit-scrollbar-button:increment,.hero__recomendations--container::-webkit-scrollbar-button {
  display: none;
} 

.hero__recomendations--container::-webkit-scrollbar:horizontal {
  height: 7px;
}

.hero__recomendations--container::-webkit-scrollbar-thumb {
  background-color: rgba(204, 204, 204, 0.35);
  border-radius: 2px;
}

.hero__recomendations--container::-webkit-scrollbar-track {
  border-radius: 5px;
}
/* SCROLL BAR */

/* ANIMATIONS FOR THIS COMPONENT BY MIGUEL ZABALA */

@keyframes fadeToTop {
  from {
    transform: scale(0.95);
    transform: translateY(15%);
    opacity: 0;
  }
  to {
    transform: scale(1);
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes flashLetter {
  from {
    color: #FFF;
  }
  to {
    color: #CCC;
  }
}

@media screen and (max-width: 450px) {
  .hero__img {
    width: 250px;
    height: 250px;
  }
}