
<div class="container">
  <div class="title">
    <h1>Heroes</h1>
    <small>Marvel and DC Comics</small>
  </div>

  <div class="heroes">

    <div class="hero">

        <div class="hero__header">
          <img class="hero__header--img" src="/assets/img/spiderman.jpg" alt="">
          <div class="hero__header--title">
            <h2>Spiderman</h2>
          </div>
        </div>

      <div class="hero__footer">
        <div class="hero__footer--button">
          See more
        </div>
      </div>

    </div>

  </div>


</div>