
<div class="container animated fadeIn">
  <div class="title">
    <h1 *ngIf="heroes.length > 0; else noHeroesfound">Resultados de {{ term }}</h1>
    <ng-template #noHeroesfound><h1>No encontramos a {{ term }}</h1></ng-template>
    <small>Marvel and DC Comics</small>
  </div>

  <div class="heroes">

    <div class="hero animated fadeIn" *ngFor="let hero of heroes; let i = index" >

        <div class="hero__header">
          <img class="hero__header--img" [src]="hero.img" [alt]="hero.nombre">
          <div class="hero__header--title">
            <h2>{{ hero.nombre }}</h2>
          </div>
          <div class="hero__header--bg"></div>
        </div>

      <div class="hero__footer">
        <div class="hero__footer--comic">
          <h6>{{ hero.casa | uppercase }}</h6>
        </div>
        <div (click)="showHero(i)" class="hero__footer--button">
          See more
        </div>
        <!-- <a [routerLink]="['/hero', i]" class="hero__footer--button">
          See more
        </a> -->
      </div>

    </div>

  </div>


</div>